{% from 'bootstrap5/form.html' import render_form %}
{% block content %} {% include 'header.html' %}


<div class="container py-5 my-5">
    <div class="row align-items-center justify-content-center py-5">
        <div class="col-5 fs-4 border border-secondary rounded shadow-lg p-5" id="register-page-form">
            <h3 class="text-center fw-bold fs-1 pt-4">Create Your Profile</h3>
            <p class="fs-4 text-center pt-2">Join the community.</p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}" >{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p class="fs-4">* Required</p>
            {{ render_form(form, novalidate=True, button_size="lg") }}
        </div>

    </div>

</div>



{% include 'footer.html' %} {% endblock %}